name: CD/CI Workflow

on: [push, pull_request]


jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.18.10'
      - name: Build
        run: go build -v ./...

  release:
    name: Create Release
    runs-on: ubuntu-latest

    needs: [build]

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v3

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
